*,
::after,
::before{
    margin: 0;
    box-sizing: border-box;

}

body,
input,
textarea,
button{
    font-family: "Libertinus Serif", serif;
    background-color:rgb(230, 230, 230);
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav{

    --nav-icon-background: url("./assets/menu-open.svg");
    --transform-list-menu: translate(-100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-top: 10px;
    background-color: /*rgb(228, 224, 221)*/ rgb(0, 32, 79);
   

}
.nav:has(.nav__checkbox:checked){
    --nav-icon-background:url("./assets/menu-close.svg");
    --transform-list-menu: translate(0%);
}

.nav__checkbox{
    display: none;
}


.nav__label, .nav__logo-link{
    z-index: 100;
   
}

.nav__logo{
    /*position: fixed;*/
    display: inline;
    height: 100px;
    
    margin-top: 5px;
    border-radius: 9px;
    
     
}

.nav__label{
    width: 36px;
    height: 36px;
    background-image: var(--nav-icon-background);
    background-size: cover;
    cursor: pointer;

    transition:background-image .4s;
}

.nav__list{
    
    position: absolute;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 0.5rem;

    text-align: center;
    list-style: none;
    background-color: rgb(0, 32, 79);
    padding: 0;
    

    transform: var(  --transform-list-menu);
    transition: transform .5s;

}

.nav__link{
    
    display: inline-block;
    padding: 0rem .4rem; /*VALOR ORIGINAL .7REM .5REM*/
    color: white;
    text-decoration: none;
}

.nav__icons{
    
    height: 72px;
}
/* PIE ENCABEZADO BARRA NAVEGACION*/
.nav__image{
    display: inline;
    height: 40px;
    margin: auto;
    
}

.nav__top{
    display: inline;
    height: 49px;
    margin-top: 0px;
}

/*COMANDO EDITAR TEXTO BARRA NAV
#texto{
    position: cover;
    color: white;
    text-align: center top;
       
    
}
.texto__titulo{

    align-content: center;
   
}
.texto__parrafo{
    align-content: center;
}
*/


/*PROPIEDAD DE TRASNPARENCIA*/
    /*COPIA DOSSIER_WEB ___________ON  1ST/

#FONDO{
    opacity: 0.3;
    background-position: left;
    background-size: url("-GR-\ \ l\ \ LOGO\ ENCABEZADO.png");
    height: 15px;
    left: 20px;

} BOTTON ACTIVACTION   ¡¡¡¡¡¡A T E N C I O N!!!!!!!       - C  U  B  E  R  T  E  R  I  A -
LAVADO |PULIDO |ABRILLANTADO
- P O R T A F O L I O   S E R V I C I O S   A N U A L  |  2 0 2 5 –
   " */

/* PENDIENTE POR DESAROLLAR
#fondo.img{
    
    background: fixed; 
    background-position: left top;
    background-image: url("-GR-\ \ l\ \ LOGO\ ENCABEZADO.png")/100px 100px;
    height: 100px;  
    width: 100px;
    background-size: 100px 100px;
    
    
    align-items:left;
    overflow: cover;
}   
*/


/******* FORMATO #1 IMAGEN FONDO

#FONDO {
    display: unset;
    position: center top;
    background-position-x: center;
    height: 50px;
  
    
    
}
 */
.FONDO__img{
    
    
    height: 80PX;
    background-image: url( '/assets/-GR-\ SELLO_LUNAR\ -\ ENC-PIE-PAG\ 1.svg'); 
    background-size: 180PX 25PX;
    background-repeat: no-repeat;
    background-position: center TOP;
    /*padding: 15px 100px 10px;*/
    margin-top: 1PX;
    
    
    
    /*background-size: 60PX 10PX;
    background-repeat: no-repeat;*/
    
   /* align-items: center;*/
  

} 

.FONDO02__img{
    display: inline-flex;
    height: 60px;
    
    
}

  
/*
.INICIO__ICON{

    max-width: 100vw;
    height: 500px;
    background-image: url('ENCABEZADO_INICIO.png');
    background-size: 380px 260px;
    background-repeat: no-repeat;
    background-position: center top;
    

}
*/  
.hero__main{
    padding: 30px 0;
    display: grid;
    gap: 1rem;
}

.hero__title{
    font-size: clamp(2rem, 4vw + 1rem ,2.8rem);
}

.hero__figure{
    width: min(100%, 1200px);
    justify-self: center;
}

.hero__img{
    width: 100%;
    margin: 0px 0px;
}

.hero__paragrap{
    font-size: 1.2rem;
    line-height: 2;
    color: white;
}

.hero__cta{
    
    width: min(50%, 50vh); 
    /*max-width:(500px, 1200px);          /*300px_v.o*/
    /*background-color: rgba(94, 39, 3, 0.733);*/
    color: #FFFF;
    text-decoration: none;
    padding: 0.3rem 0;
    border-radius: 5px;

    text-align: center;
    margin: 2px 0px 0px;

}
.hero__ctaimg{
    height: 80px;
}

/* MENU SLIDER -GR-*/

.CONTAINERSL{
    width: 90%;
    min-height: 20vh; /*v.o- 20vh*/
    max-width: 1100px;
    margin: 0 auto ;
    overflow: hidden;
    
    

}

.slider{
    background-color:rgb(228, 224, 215);
    padding: 0%  5px;
    
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
   
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: rgb(0, 32, 79);
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
   
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;

}

.slider__text{
    max-width: 600px; /*VALOR ORIGINAL 600PX */
}

.subtitle{
    font-size: 2rem; /*VALOR ORGINAL 2.5REM*/
    margin-bottom: 20px;
}

.slider__review{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;

}


.slider__img{
    width: 178px; /*VALOR ORIGINAL 230PX*/
    height: 258px;
    border-radius: 1%; /*VALOR ORIGINAL 560% = CICULO */
   
    object-fit:cover;
    display: block;
    margin: 0 auto;
}

.slider__imagen{
    height: 50px;
    margin: auto 8px;
}

.slider__imagen02{
    width: 178px;
    height: 258px;
    border-radius: 1%;

    object-fit: cover;
    display: block;
    margin: 0 auto;
     
}
.slider__imagen03{
    height: 100px;
    margin: auto 8px ;
}


.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}
    

@media(max-width:760px){
    .slider__body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        

    }

    .slider__picture{
        grid-row:1/2;
    }

    .slider__img{
        width: 100px;
        height: 150px;
        /*border-radius: 550%;*/
    }

    .slider__imagen{        /*·IMAGEN03*/
        width: 120px; /*V_O. 120PX*/
        height: 30px; /*V_O. 30PX*/   /*V.0. 30PX*/
       
    }
    .slider__imagen02{
        width: 100px;
        height: 150px;
    }
    .slider__imagen03{
        width: 120px;
        height: 80px;
    }
    /*
   .slider__imagen02{
        width: 120px;
        height: 30PX;

   }*/
}

@media (max-width:420px){
    .slider__container{
        grid-template-columns:25px 1fr 25px;
        /*grid-template-rows: max-content;*/

    }
    .slider__picture{
        grid-row: 1/2;
    } 
    .slider__arrow{
        height: 20px;
        
    }

    .slider__img{
        width: 50px;
        height: 75px;
    }

    .slider__imagen{
        width: 110px;
        height: 26px;

    }
    .slider__imagen02{
        width: 50px;
        height: 75px;
    }
    .slider__imagen03{
        width: 110px;
        height: 80px;
    }
    /*
    .slider__imagen02{
        width: 110PX;
        height: 26PX;
    }*/

    .slider__imagen03{
        min-width: 90%;
        min-height: 90%;
    }

   
}    
    
.footer{
    background-color: rgb(0, 32, 79);
}

.footer__content{
    color: white;
    padding: 60px 0;
    width: min(90%, 1200px);
    overflow: hidden;
    margin: 0 auto;
}

.footer__main{
    display: grid;
    gap: 1.5rem;
    justify-items: center;
}

.footer__logo{
    height: 60px;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.footer__link{
    color: white;
    text-decoration: none;
}

.footer__linl:hover{
    text-decoration: underline;
}


.footer__contact{
    max-width: 250px;
    display: grid;
    gap: 1.3rem;
    text-align: center;
}

.footer__copy{
    margin-top: 1rem;
    justify-self: center;
    background-color: rgb(0, 32, 79);
    color: white;
    font-weight: 500;
    padding: 4px;
    border-radius: 6px;
}

.footer__newsletter{
    width: min(100%, 400px);
    padding: 2rem 1.5rem;
    background-color:#292a32;    /*-Gr- Valor original_footer #292A32; "GRIS ROMANA"*/
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    grid-template-rows: 48px 48px;
}

.footer__email{
    border: 1px solid white;
  
    border-radius: 6px;
    padding: 0 1.5rem;
    background-color: transparent; /*valor original */
    color: white;
}

.footer__email::placeholder{
    color: white;
}

.footer__submit{
    background-color: rgb(228, 224, 215);
    color: black;
    border: none;
    font-weight: 500;
    border-radius: 6px;
}

.footer__social{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.footer__social-links{     
    width: 40px;
    height: 40px;
    background-color:rgb(228, 224, 215);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__media{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-color: rgb(0, 32, 79);
}
.footer__copyright{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid #FFFF;
}

.footer__copyright-text{
    text-align: center;

}

@media (width >= 768px){

    /** CTA **/

    .cta{
        background-color: rgb(228, 224, 221);

    }    

    .cta__content{
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 50% 40%;
    }

    .cta__links{
        padding: 1.3rem 2rem;
        place-self: start;
    }



    .cta__figure{
        display: block;
    }

    /** Contact **/

    .contact__content{
       grid-template-columns: 50% 40%;
       justify-content: space-between;
       align-items: center;
    }

    .contact__figure{
        display: block;
    }

}

@media (width >= 900px){  
    /** Hero **/
    /*
    .nav{
        --transform-list-menu: translate(0%);
    }

    .nav__label{
        display: none;
    }

    .nav__list{
        position: static;
        grid-auto-flow: column;
        background-color: /**#BLC-**rgb(248, 248, 248); **#AZUL** rgb(0, 32, 79);**
        place-content:unset;
        gap: 1rem;
    }

    .nav__link{
        color: /**#AZUL** rgb(0, 32, 79) /**#BLC-**rgb(255, 255, 255);
    }**/

    /** Footer **/

    .footer{
        background-color:rgb(230, 230, 230);
    }

    .footer__content{
        background-color: rgb(0, 32, 79);
        border-radius: 30px 30px 0 0;
    }

    .footer__main{
        width: 90%;
        margin:  0 auto;
        grid-template-columns: 1fr 55% 1fr;
        grid-template-areas:
        "logo links media"
        "contact news news";
        justify-items: start;

    }

    .footer__links{
        grid-area: links;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__contact{
        grid-area: contact;

        text-align: left;
        max-width: 300px;
    }

    .footer__copy{
        justify-self: start;
        margin-top: 0rem;
        
    }

    .footer__newsletter{
        grid-area: news;
        justify-self: end;
        align-self: center;
    }

    .footer__social{
        justify-self: end;
        grid-area: media;
    }

    .footer__logo-link{
        grid-area: logo;
    }

    .footer__copyright{
        width: 90%;
        margin-left: auto;
        margin-right: auto;


    }



    /** CTA **/

    .cta{
        background-color: var(--color-gray);

    }
    

    .cta__content{
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 50% 40%;
    }

    .cta__links{
        padding: 1.3rem 2rem;
        place-self: start;
    }



    .cta__figure{
        display: block;
    }
    
}    
  
    
   
    
    
   










